*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(196, 52, 0);
    margin: 10px;
    height: 120px;
}
.body{
    width: 100%;     
}


.logo{
    width: 130px;
    padding: 0 40px;
}
.nav-items{
    margin-right: 30px;
}

.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.search{
    padding: 10px;
}

.rest-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
}

.res-card{
    margin: 5px;
    padding: 10px;
    width: 250px;
    height: 370px;
    background-color: #f0f0f0 ;
    border: 1px solid transparent;
    border-radius: 10px;
}
.res-card:hover{
    box-shadow: 5px 5px 5px 4px rgb(0.1, 0,1, 0.1);
    transform: scale(1.006);
    cursor: pointer;
}

.res-card >*{
    padding: 7px 0;
}
.res-card img{
    height: 150px;
    object-fit: cover;
}

.res-logo{
    width: 100%;
    border-radius: 15px;
}

.card-info >*{
    padding: 5px 10px;
}

.filter-btn{
    border: 0;
    outline: 0;
    margin: 20px;
    margin-bottom: 0;
    background-color: rgb(196, 52, 0);
    padding: 10px 25px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.05s linear;
    font-weight: 600;
    font-size: 15px;
}
.filter-btn:active{
    transform: scale(0.97);
}

.shimmer-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;

}

.shimmer-card{
    margin: 5px;
    padding: 10px;
    width: 250px;
    height: 370px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.shimmer-btn{
    border: 0;
    outline: 0;
    width: 215px;
    margin: 20px;
    margin-bottom: 0;
    background-color: #f0f0f0;
    padding: 20px 50px;
    border-radius: 20px;
}

.shimmer-card >*{
    padding: 10px 0;
}
.shimmer-img{
    height: 150px;
    width: 245px;
    border-radius: 10px;
    background-color: #d8d8d8;
    margin: 8px 2px;

}
