*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(196, 52, 0);
    margin: 0px 20px;
    height: 110px;
    box-shadow: 0 10px 15px -3px rgb(0.1, 0,1, 0.1) ;
}

.body{
    width: 100%;     
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg{
    width: 70px;
    padding-left: 30px;
}
.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-weight: 900;
    font-size: 40px;
    color: rgb(196, 52, 0);
}
.nav-items{
    margin-right: 30px;
}

.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    color: black;
}
.nav-items a{
    text-decoration: none;
    color: black;
}
.nav-items a:hover{
    color: rgb(196, 52, 0);
}

.search{
    padding: 10px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
    margin-bottom: -20px;
}

.filter-btn{
    border: 0;
    outline: 0;
    background-color: rgb(196, 52, 0);
    padding: 10px 25px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.05s linear;
    font-weight: 600;
    font-size: 15px;
    width: 220px;
}
.filter-btn:active{
    transform: scale(0.97);
}

.login{
    border: 0;
    outline: 0;
    background-color: #f0f0f0;
    padding: 10px 40px;
    color: rgb(196, 52, 0);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.05s linear;
    font-weight: 800;
    font-size: 17px;
    width: 150px;
}
.login:active{
    transform: scale(0.97);
}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box{
    width: 600px;
    outline : none;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: #f0f0f0;
    border-radius: 10px;
    
}
.search-box:focus{
    transform: scale(1.01);
    border: 1px solid rgb(196, 52, 0);

}
.search-button{
    border: 0;
    outline: 0;
    background-color: #f0f0f0;
    padding: 8px 10px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.05s linear;
    font-weight: 600;
    font-size: 17px;
    width: 80px;
}
.search-button:active{
    transform: scale(0.97);
    border: 1px solid rgb(196, 52, 0);

}

/*-------[CARDS]-------*/

.rest-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    gap: 20px;
}

.res-card{
    margin: 5px;
    padding: 10px;
    width: 250px;
    height: 270px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.1s;
    color: black;
    box-shadow: 5px 5px 5px 4px rgb(0.1, 0,1, 0.1);

}

.res-card:hover{
    box-shadow: none;

    transform: scale(1.06);
    cursor: pointer;
    /* background-color: #f0f0f0 ; */
}

.res-card >*{
    padding: 7px 0;
}
.res-card img{
    height: 150px;
    object-fit: cover;
}

.res-logo{
    width: 100%;
    border-radius: 15px;
}

.name-rating, .two-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating h4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.card-info >*{
    padding: 5px 10px;
}

/*-------[MENU ITEMS]-------*/

.restaurant-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    height: 80vh;
    overflow-x: scroll;
}

.restaurant-menu>*{
    padding: 10px 0;
}

.rest-name{
    color: antiquewhite;
    font-size: 35px;
}

.rest-details{
    border: 1px solid white; 
    padding: 20px 30px;
    margin: 10px 0 ;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 4px rgb(0.1, 0,1, 0.1);
    background-color: cadetblue;
    color: bisque;
}
.rest-details >*{
    padding: 10px 0;
}

.rest-details h4{
    margin: 0 20px;
}
#menu{
    margin-left: -580px;
    font-size: 30px;
    margin-bottom: -10px;
    color: rgb(89,47,21);
}

.categories{
    width: 50%;
    padding: 10px;

}

.category-all{
    background-color: aliceblue;
    border-radius: 10px;
    margin: 20px 0px;
    cursor: pointer;
    /* width: 60vw; */
    padding: 15px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgb(0.1, 0,1, 0.1) ;
}

.category-title{
    /* border-bottom: 7px solid rgb(224, 224, 224); */
    width: 95%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.category-title span{
    font-weight: 600;
    font-size: 20px;
}


.food-items{
    display: flex;
    align-items: center;
    padding:  10px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    list-style: none;
    width: 45vw;
    justify-content: space-between;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.food-detail{
    padding: 10px;
    font-size: 20px;
}

.food-detail p{
    padding-top: 5px;
    font-size: 14px;
}

.food-price{
    color: cadetblue;
    font-weight: 600;
}

.food-items:hover{
    transform: scale(1.01);
}

.menu-items img{
    width: 85px;
    height: 85px;
    border-radius: 10px;
    object-fit: cover;
}




/*-------[SHIMMER]-------*/

.shimmer-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
}

.shimmer-card{
    margin: 5px;
    padding: 10px;
    width: 250px;
    height: 270px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.shimmer-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.shimmer-filter, .shimmer-login{
    border: 0;
    outline: 0;
    width: 220px;
    margin: 20px;
    margin-bottom: -20px;
    background-color: #f0f0f0;
    padding: 20px 50px;
    border-radius: 20px;
}
.shimmer-login{
    width: 150px;
    padding: 22px 47px;
    margin-top: 10px;
}

.shimmer-card >*{
    padding: 10px 0;
}
.shimmer-img{
    height: 150px;
    width: 245px;
    border-radius: 10px;
    background-color: #d8d8d8;
    margin: 8px 2px;
}


.shimmer-search{
    display: flex;
    align-items: center;
    gap: 10px;
}

.shimmer-search-box{
    width: 600px;
    outline : none;
    border: none;
    height: 40px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-top: 30px;
}

.shimmer-search-button{
    border: 0;
    outline: 0;
    background-color: #f0f0f0;
    padding: 8px 10px;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    margin-top: 30px;
}
.shimmer-first-line, .shimmer-second-line{
    height: 2px;
    border-radius: 3px;
    width: 180px;
    background-color: #d8d8d8;
    margin: 10px 5px;
}
.shimmer-second-line{
    width: 70px;
}



/*-------[ABOUT]-------*/

.about{
    padding: 40px;
}

.user-info{
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    width: 800px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.user-info>*{
    padding: 5px;
}

.user-details h3{
    padding: 10px 0;
}

.user-details span{
    font-weight: 400;
}

.user-pic img{
    width: 200px;
}

/*-------[ONLINE STATUS]-------*/

.online-status{
    position: absolute;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.online-status span{
    color: rgb(196, 52, 0);
}

/*-------[Menu Items]-------*/

